@font-face {
    font-family: 'Aleo-Light';
    src: url(../fonts/Aleo-Light.eot);
    src: url(../fonts/Aleo-Light.woff2) format("woff2"), url(../fonts/Aleo-Light.woff) format("woff"), url(../fonts/Aleo-Light.ttf) format("truetype"), url(../fonts/Aleo-Light.svg#Aleo-Light) format("svg"), url(../fonts/Aleo-Light.eot?#iefix) format("embedded-opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Aleo-Regular';
    src: url(../fonts/aleo-regular.eot);
    src: url(../fonts/aleo-regular.woff2) format("woff2"), url(../fonts/aleo-regular.woff) format("woff"), url(../fonts/aleo-regular.ttf) format("truetype"), url(../fonts/aleo-regular.svg#Aleo-Light) format("svg"), url(../fonts/aleo-regular.eot?#iefix) format("embedded-opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Karla-Bold';
    src: url(../fonts/karla-bold.eot);
    src: url(../fonts/karla-bold.woff2) format("woff2"), url(../fonts/karla-bold.woff) format("woff"), url(../fonts/karla-bold.ttf) format("truetype"), url(../fonts/karla-bold.svg#karla-Bold) format("svg"), url(../fonts/karla-bold.eot?#iefix) format("embedded-opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Karla-Regular';
    src: url(../fonts/karla-regular.eot);
    src: url(../fonts/karla-regular.woff2) format("woff2"), url(../fonts/karla-regular.woff) format("woff"), url(../fonts/karla-regular.ttf) format("truetype"), url(../fonts/karla-regular.svg#karla-regular) format("svg"), url(../fonts/karla-regular.eot?#iefix) format("embedded-opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'SourceSansPro-Light';
    src: url(../fonts/SourceSansPro-Light.eot);
    src: url(../fonts/SourceSansPro-Light.woff2) format("woff2"), url(../fonts/SourceSansPro-Light.woff) format("woff"), url(../fonts/SourceSansPro-Light.ttf) format("truetype"), url(../fonts/SourceSansPro-Light.svg#SourceSansPro-Light) format("svg"), url(../fonts/SourceSansPro-Light.eot?#iefix) format("embedded-opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url(../fonts/SourceSansPro-Bold.eot);
    src: url(../fonts/SourceSansPro-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/SourceSansPro-Bold.woff2) format("woff2"), url(../fonts/SourceSansPro-Bold.woff) format("woff"), url(../fonts/SourceSansPro-Bold.ttf) format("truetype"), url(../fonts/SourceSansPro-Bold.svg#SourceSansPro-Bold) format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url(../fonts/SourceSansPro-Regular.eot);
    src: url(../fonts/SourceSansPro-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/SourceSansPro-Regular.woff2) format("woff2"), url(../fonts/SourceSansPro-Regular.woff) format("woff"), url(../fonts/SourceSansPro-Regular.ttf) format("truetype"), url(../fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
  font-family: 'SourceSansPro-Semibold';
  src: url('../fonts/SourceSansPro-Semibold.eot');
  src: url('../fonts/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SourceSansPro-Semibold.svg#SourceSansPro-Semibold') format('svg'),
       url('../fonts/SourceSansPro-Semibold.ttf') format('truetype'),
       url('../fonts/SourceSansPro-Semibold.woff') format('woff'),
       url('../fonts/SourceSansPro-Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

