
#nav-items{
	list-style: none;
}

#nav-wrapper{
    box-shadow: 1px 1px 8px #a0a0a0ad;
    border-color: #e0dcdc;
    background: #fdfdfd;
    height: 55px;
    font-size: 16px;
}

.navbar-inverse .navbar-nav>li>a{
  color: #545454;
}

@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:700";

body {
  background: white;
  font-family : "fa5-proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif";
  padding: 0px;
  -webkit-font-smoothing: antialiased;
}

.carousel-caption h1{
  color: red;
}

.carousel-caption {
}

.flex {
  align-items: center;
  justify-content: center;
}

a.bttn {
  color: #FF0072;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
  border-radius: 15px;
}
a.bttn:hover {
  color: #FFF;
  border-radius: 15px;
}
a.bttn:focus {
  color: #FFF;
  border-radius: 15px;
}

a.bttn-dark {
  border-radius: 15px;
  color: #644cad;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}
a.bttn-dark:hover {
  border-radius: 15px;
  color: #FFF;
}
a.bttn-dark:focus {
  color: #FFF;
  border-radius: 15px;
}

.bttn {
  font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  width: 100px;
  padding: 2px 0px;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.bttn:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #FF0072;
  z-index: -2;
  border-radius: 15px;
}
.bttn:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  border-radius: 15px;
}
.bttn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  border-radius: 15px;
}

.bttn-dark {
 font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  width: 100px;
  padding: 2px 0px;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.bttn-dark:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #644cad;
  z-index: -1;
  border-radius: 15px;
}
.bttn-dark:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.bttn-dark:focus:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.carousel-img{
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.login-signup-btn{
    float: right;
    margin-right: 20px;
    margin-top: 8px;
}


.home-parallax {
    background-image: url("./../images/football-pitch1.jpg");
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-info h1,#home-info p{
  color: white;

}

#home-leader{
    background: #d00f34;
    min-height: 300px;
    color: white;
    text-align: center;
    position: relative;
}

#home-leader h1, #home-leader p{
  margin: auto;
}

#home-leader-wrapper{
  position: absolute;
    width: 100%;
    top: 40%;
}

#home-portal-guide{
  min-height: 300px;
    color: black;
    text-align: center;
    position: relative;
}

#home-guide-wrapper{
  position: absolute;
  width: 100%;
  top: 40%; 
}

#home-info{
  height: 400px;
  text-align: center;
}

#portal-wrapper{
  width: 100%;
  padding: 10px;
  background-color: white;
  height: 800px;
  padding-top: 60px;
}

#portal-wrapper2{
  width: 100%;
  padding: 10px;
  background-color: white;
  height: 800px;
  padding-top: 20px;
}

#home-portals{
    width: 90%;
    margin: auto;
    padding: 15px;
    background-color: #f5f5f5;
    display: flex;
    border-radius: 5px;
    flex-wrap: wrap;
}
  
.portal-href:hover{
    text-decoration: none; 

}

.portal-href{  
    display: inline;
    width: 33%;
    text-decoration: none;
}

.portal-inner{
    background-color: white;
    height: 250px;
    margin: 10px;
    border-radius: 8px;
    padding: 20px;
}

.portal-inner:hover {
    box-shadow: 0px 0px 10px #24c9da6b;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.02);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.02);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.02);
    transition: all 200ms ease-in;
    transform: scale(1.02);
}

.portal_title{
  text-align: center;
}

.portal-bg-img{
  background-image: url("./../images/iLeague1.jpg");
}

.portal-bg-img2{
  background-image: url("./../images/bengaluruFC.jpg");
}

.portal-bg-img3{
  background-image: url("./../images/IWL.jpg");
}

.portal-bg-img4{
  background-image: url("./../images/IWL2.jpg");
}

.portal-bg-img5{
  background-image: url("./../images/megh-baby-league.jpg");
}

.portal-bg{
  width: 100%;
  padding: 80px;
  background-size: cover; 
}

.TBD{
  height: 250px;
  background: white;
}

.TBD1{  
  text-align: center;
  height: 200px;
  padding-top: 55px;
  margin-bottom: 0px;
}

.footer-pane{
  background-color: #273547;
}

.footer-row{
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-header{
  color: #a4bbd7;
  border-bottom: 1px solid #f7f5f5;
  padding-bottom: 20px;
  font-size: 22px;
}

.footer-li{
  color: #fff;
  font-size: 15px;
}
.footer-data {
  padding-top: 50px;
}

.footer-list {
  padding-bottom: 5px;
}

.footer-ul{
  padding-top: 20px;
  padding-bottom: 30px;
}

.last-footer-text{
  text-align: center;
  padding-bottom: 20px;
}

.container-fluid{
  padding: 0;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
  background-color: #75757530
}



.test {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s; 
    -o-animation: fadein 5s; 
}


#register-with-us {
    height: 200px;
    background: #FED261;
    padding: 50px 0 65px 0;
    text-align: center;
}
#register-with-us h2 {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}







#eat-home {
    width: 100%;
    background-color: #efefef;
}

.full-screen {
    width: 100%;
    padding: 0;
}
.rowpp>[class*=col-] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
}

.home-section-content-padding {
    padding-left: 100px;
}
.home-section-content {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 90px;
    position: absolute;
}

@media (min-width: 768px)
.row {
    margin-left: -8px;
    margin-right: -8px;
}