.swc-msg{
	height: 300px;
}

.swc-inside{
	text-align: center;
	vertical-align: middle;
	line-height: 290px;
	font-size: medium; 
}

.portal-bg-img{
  background-image: url("./../images/bolform.jpg");
}

.portal-bg-img2{
  background-image: url("./../images/paperform.jpeg");
}

.portal-bg-img3{
  background-image: url("./../images/paperform2.jpeg");
}

.portal-bg-img4{
  background-image: url("./../images/study.jpg");
}

.portal-bg-img5{
  background-image: url("./../images/paperwork.jpg");
}


.about-teams {
    text-align: center;
}

@media (max-width: 1480px){
.container {
    width: 100%;
    padding: 0 90px;
}
}
.t-container {
    margin: 0 auto;
    width: 1300px;
}

.about-teams h2 {
    float: left;
    width: 100%;
    font-size: 50px;
    color: #193f4b;
    text-transform: uppercase;
    font-weight: 700;
}

.about-teams .teams-box {
    float: left;
    width: 100%;
}

.about-teams .teams-box .people {
    display: inline-block;
    width: 24%;
    margin-top: 50px;
    vertical-align: top;
    cursor: pointer;
    color: slategrey;
}

.about-teams .teams-box .people .image, .peoplePopUp .image {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

#teams-wrapper{
    width: 90%;
    margin: auto;
    padding: 15px;
    display: flex;
    border-radius: 5px;
    flex-wrap: wrap;
}


.tournament-heading-wrapper {
  background-color: #ffffff;
  background: #ff2241db;
}
#fancy-title {
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  font-style: inherit;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 0;
}
.tournament-description p {
    padding: 35px;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    text-transform: capitalize;
    text-align: center;
}
p {
  margin: 0 0 0px;
}


  .fixtures-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .fixtures-container:before {
    display: table;
    content: " ";
  }
  .fixtures-container .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .fixtures-section .left-text {
    display: inline;
    text-align: right;
  }
  .fixtures-section h4 {
    margin-top: 60px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .fixtures-section p {
      color: #fff;
      margin-top: 15px;
  }

  .fixtures-section {
    background-image: url(https://www.free-css.com/assets/files/free-css-templates/preview/page244/ziggy/assets/img/fivth-section-bg.png);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    padding: 20% 0px;
  }
  .fixtures-section .right-image {
    display: inline;
  }
  .fixtures-section .right-image img {
    max-width: 70%;
    overflow: hidden;
    text-align: center;
    padding-left: 30px;
  }


  /* partners slider starts*/
      @-webkit-keyframes scrollPartner {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
        }
        100% {
          -webkit-transform: translateX(calc(-250px * 7));
                  transform: translateX(calc(-250px * 7));
        }
      }
      @keyframes scrollPartner {
        0% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
        }
        100% {
          -webkit-transform: translateX(calc(-250px * 7));
                  transform: translateX(calc(-250px * 7));
        }
      }
      .partner-slider-wrapper {
        background: white;
        height: 200px;
        margin: auto;
        overflow: hidden;
        position: relative;
        max-width: 960px;
        display: flex;
        align-items: center;
      }
      .partner-slider-wrapper .slide-track {
        -webkit-animation: scrollPartner 40s linear infinite;
                animation: scrollPartner 40s linear infinite;
        display: flex;
        width: calc(250px * 14);
      }
      .partner-slider-wrapper .slide {
        height: 100px;
        width: 250px;
      }
      .partners-heading {
        text-align: center;
        color: darkgray;
      }

    /*partners slider code ends*/

    /*Social Media Section starts*/
      .social-media ul {
        margin: 0px;
        padding: 0px;
      }
      .social-media li {
        background: #43b9f6;
        padding: 0px;
        list-style: none;
        color: #fff;
        position: relative;
        overflow: hidden;
        text-align: center;
      }
      .social-media li:nth-child(2) {
        background: #6686ff;
      }
      .social-media li:nth-child(3) {
        background: #be78ff;
      }
      .row:before {
        content: " ";
        display: table;
      }
      .social-media li .ser-inn {
        padding: 75px 13%;
      }
      .social-media li .ser-inn h4 {
        font-weight: bold;
        color: #fff;
        font-size: 24px;
        margin: 0px;
        margin-bottom: 10px;
      }
    /*Social Media Section starts*/