	h1{
		font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 20px;
	}
	table{
		width:100%;
		table-layout: fixed;
	}
	.tbl-header{
		background-color: rgba(255,255,255,0.3);
	 }
	.tbl-content{
		height:400px;
		overflow-x:auto;
		margin-top: 0px;
		border: 1px solid rgba(255,255,255,0.3);
	}
	th{
		padding: 20px 15px;
		text-align: left;
		font-weight: 500;
		font-size: 12px;
		color: #fff;
		text-transform: uppercase;
	}
	td{
		padding: 15px;
		text-align: left;
		vertical-align:middle;
		font-weight: 300;
		font-size: 12px;
		color: #fff;
		border-bottom: solid 1px rgba(255,255,255,0.1);
	}


	/* demo styles */

	@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
	body{
		background: linear-gradient(to right, #36d0ac, #3734ef);
		font-family: 'Roboto', sans-serif;
	}
	section{
		margin: 0 auto;
    width: 80%;
	}


	/* follow me template */
	.made-with-love {
		margin-top: 40px;
		padding: 10px;
		clear: left;
		text-align: center;
		font-size: 10px;
		font-family: arial;
		color: #fff;
	}
	.made-with-love i {
		font-style: normal;
		color: #F50057;
		font-size: 14px;
		position: relative;
		top: 2px;
	}
	.made-with-love a {
		color: #fff;
		text-decoration: none;
	}
	.made-with-love a:hover {
		text-decoration: underline;
	}


	/* for custom scrollbar for webkit browser*/

	::-webkit-scrollbar {
		width: 6px;
	} 
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	} 
	::-webkit-scrollbar-thumb {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	}