h1, h2, h3, h4, h5, h6, p, blockquote, button, figure {
    margin: 0;
    padding: 0;
}

.c-header {
    text-align: center;
    font-size: 35px;
    padding: 20px;
    color: #cecece;
    font-weight: 600;
    border-bottom: 1px solid #cecece;
}

.l-home {
    margin: 15px 60px 0 60px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
}

.l-wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;   
}

.l-home-featured {
    display: flex;
}

.popular-wrapper {
    display: flex;
    justify-content: space-between;
}

.popular-news-list {
    width: 30%;
}

.popular-news-cards-wrapper {
    width: 65%;
    display: flex;
}

.l-home-aside {
    width: 18%;
}

.c-media-tile {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 195px;
    padding-right: 18px;
    text-decoration: none;
}

.c-media-tile:not(:last-child) {
    border-bottom: 1px solid #cecece;
    padding-bottom: 16px;
}

.c-img-tile:not(:last-child) {
    border-bottom: 0px;
}

.c-media-title-image img {
    width: 195px;
}

.c-media-tile-title {
    font-size: 24px;
    margin-top: 6px;
    font-weight: 400;
    color: #989898;
}

.c-media-tile-description {
    color: #989898;
    margin-bottom: 0;
    font-size: 17px;
    padding-top: 10px;
}

.popular-news-title, .aside-title {
    border-bottom: 1px solid #cecece;
    margin-bottom: 16px;
}

.popular-news-title h3, .c-media-title h3 {
    font-size: 21px;
    color: #cecece;
    margin: 50px 0 16px 0;
}

.popular-news-img {
    width: 135px;
}

.aside-img {
    width: 195px;
}

.aside-tile-title {
    text-transform: uppercase;
}

.c-media-tile-date {
    display: block;
    font-size: 14px;
    line-height: 1.333;
    color: #cecece;
    padding-top: 2px;
}

.c-timeline-more {
    display: block;
    border-top: 1px solid #cecece;
    padding-top: 24px;
    padding-bottom: 16px;
    color: #989898;
    font-weight: 400;
    text-decoration: none;
}